#banner {
  background-image: url("/Images/banner.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

#banner-heading {
  font-family: cursive;
  font-weight: normal;
  font-style: normal;
}

.search_box input:focus {
  outline: none;
}
.search_box input::placeholder {
  font-size: 8px;
  color: black;
}

.product_image {
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  #banner{
    height: 450px;
  }
}
@media screen and (max-width: 768px) {
  #banner{
    height: 400px;
  }
}

@media screen and (max-width: 640px) {
  #banner{
    height: 300px;
  }
}